.home-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  .home__title {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
