.search-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;

  form {
    display: flex;
    flex-direction: row;
    padding: 0.0625em;
    width: 80%;
    height: 40px;
    border: 1px solid #ffffff;
  }

  input {
    flex-grow: 2;
    border: none;
    height: 100%;
    background-color: #1a1a1a;
    text-indent: 0.625em;
    color: white;
  }

  input:focus {
    outline: none;
  }

  form:focus-within {
    outline: 1px solid rgb(185, 185, 185);
  }

  button {
    border: none;
    border-left: 1px solid #ffffff;
    background-color: #292929;
    color: white;
    width: 8%;
    height: 100%;

    &:hover {
      cursor: pointer;
    }

    img {
      max-height: 70%;
    }
  }
}
