:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/snowy-trees.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  width: 1280px;
}
#root {
  margin: 0 auto;
  width: 100%;
}
